{
  "extends": "umi",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
},

"env": {
  "browser": true
},
"rules": {
  // "indent": [
  //     "warn",
  //     "tab"
  // ],
  // "linebreak-style": [
  //     "warn",
  //     "unix"
  // ],
  // "quotes": [
  //     "warn",
  //     "double"
  // ],
  // "semi": [
  //     "warn",
  //     "always"
  // ]
}
}