.message {
    width: 1080px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.message-header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid #186ec5; 
    margin-bottom: 40px;
    span {
        font-size: 19px;
        margin-right: 5px;
    }
    a {
        color: #186ec5;
        margin-right: 5px;
        font-size: 19px;
    }
    padding-bottom: 3px;
}
.message-sidebar {
    width: 136px;
    height: 700px;
    border-right: 1px solid #979797;
    li {
        a {
        cursor: pointer;
        width: 100%;
        height: 40px;
        font-size: 21px;
        margin-top: 10px;
        color: #386FCB;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    }
    .clicked {
        width: 100%;
        height: 40px;
        background: url("/img/Rectangle.png");
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.message-content {
    width: 1080px;
    display: flex;
}
.message-maincontent-header {
    width: 890px;
    border-bottom: 1px solid #979797;
    margin-top: 15px;
    font-size: 21px;
    color: #386FCB;
    span {
        border-bottom: 2px solid #386FCB;
        display: inline-block;
        // height: 30px;
        font-size: 21px;
        color: #386FCB;

        // padding-bottom: 1px;
    }
}
.message-maincontent {
    margin-left: 26px;
}
.message-maincontent-li {
    margin-top: 10px;
    display: flex;
    align-items: center;
    i {
        display: inline-block;
        height: 4px;
        width: 4px;
        border-radius: 2px;
        background: #386FCB;
        margin-right: 15px;
    }
}
.message-header-paper {
    width: 160px;
    height: 50px;
    background: url("/img/bg_h3.png");
    position: absolute;
    top: 9px;
    left: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}
.message-article {
    font-size: 19px;
    color: #286BCA;
}
.message-none {
    font-size: 24px;
    color: #386FCB;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.ant-pagination-options-quick-jumper {
    font-size: 0;
    input {
      width: 48px;
      height: 17px;
      border: 1px solid #000;
      border-radius: 0;
    }
    &:before {
      content: "\524d\5f80";
      font-size: 19px;
      color: rgba(0, 0, 0, 0.65);
    }
    &:after {
      content: "\9875";
      font-size: 19px;
      color: rgba(0, 0, 0, 0.65);
    }
  }
  .ant-pagination-item {
    a {
      color: #000;
      font-size: 19px;
    }
  }
  .ant-pagination {
    display: flex;
    justify-content: center;
    padding: 5px 0;
  }