.Weather{
    min-width: 300px;
    height: 28px;
    font-size: 13px;
    color: #838383;
    align-self: center;
    margin-right: 85px;
    b{
        font-size: 13px;
        color: #838383;
        font-weight: 500;
    }
}
