.column {
  text-align: center!important;
}
.columnContainer {
  display: flex;
  justify-content: space-around;
  padding: 0 40px 0 116px;
  width: 1385px;
  .ant-menu {
    background: #fafafa;
    border-width: 0;
    text-align: center;
    box-shadow: 10px 9px 9px rgba(0, 0, 0, 0.08)!important;
  }
  .ant-menu-item {
    color: rgba(0, 0, 0, 0.75);
    text-align: left;
  }
}
.ant-table-row .ant-table-row-cell-break-word span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  width: 200px;
}
.radioGroup {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.tableContainer {
  flex: 1 0 auto;
  padding-left: 20px;
}
.tableHeader {
  overflow: hidden;
  padding-left: 20px;
  padding-bottom: 10px;
}
.tableHeader h2 {
  font-size: 20px;
}
.tableHeader h2,
.tableHeader .col-oper {
  float: left;
}
.col-oper .btn {
  span {
    color: #1890ff;
  }
  &.danger span{
    color: #ff4d4f;
  }
}
.tableHeader .col-oper {
  margin-left: 40px;
}
.tableHeader .col-oper button {
  margin-right: 10px;
}
.submitBtn {
  width: 120px;
  height: 47px;
  border-radius: 11px;
  margin-top: 41px;
  margin-bottom: 20px;
  span {
    color: rgb(24, 144, 255);
  }
}
.submitBtnContainer {
  text-align: center;
}
.radio + * {
  padding: 0;
}
.editBtn {
  width: 100px;
  height: 39px;
  margin-left: 40px;
  border-radius: 6px;
  span {
    color: rgb(24, 144, 255);
  }
}
.addNewBtn {
  span {
    color: rgb(24, 144, 255);
  }
}
.article-oper {
  .btn span {
      color: rgb(24, 144, 255);
  }
  & .del-btn span {
    color: #ff4d4f;
  }
  & .edit-btn {
    margin-right: 10px;
  }
}
.list {
  display: flex;
  flex-flow: row nowrap;
  min-width: 679px;
  height: 39px;
  box-shadow: 8px 7px 5px rgba(0, 0, 0, 0.08);
}
.li {
  list-style: none;
  background-color: #fafafa;
  flex: 1 0 auto;
  .navTextB {
    color: rgba(0, 0, 0, 0.85);
    display: block;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
}
.ant-table-wrapper {
  flex: 1 1 auto;
}
.ant-row {
  min-width: 300px;
}
.col-title {
  height: 56px; 
  line-height: 36px; 
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  font-size: 20px;
  background: #fafafa;
}
