.input {
    width: 300px; 
     margin: 0 auto;
}
.userInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border-bottom:  1px solid #979797; */
}
.user-alter {
    display: flex;
    justify-content: center;
}
.user-form {
    display: flex;
    justify-content: center;
}