.title {
    font-size: 22px;

    color: #1B1B1B;
    width:100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.title>span {
        margin-top: 22px;
    margin-left: 22px; 
    border-left:  #163E80 solid 5px;
    height: 25px;
     line-height: 25px; 
    padding-left: 5px;
}