.zx-message{
    &-main{
       font-size: 15px;
       line-height: 22px;
       border-top: 1px solid #000000 ;
       margin-top: 10px;
       display: flex;
       justify-content: start;
       width: 800px;
       p{
           padding:15px;
           margin-left: 20px;
           width: 250px;
       }
       .second{
           margin-left: 80px;
           width: 577px;
       }
    }
}
